<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
</head>
<body>
    <h2>[[${accessId}]]님의 채팅</h2>
    <div class="container">
        <div>
            <ul th:each="room : ${roomList}">
                <li th:if="${#strings.equals(#strings.toString(room.artist), '${accessId}')}"><a th:href="@{'/chat/room/'+${room.roomId}}">[[${room.username}]]</a></li>
                <li th:unless="${#strings.equals(#strings.toString(room.artist), '${accessId}')}"><a th:href="@{'/chat/room/'+${room.roomId}}">[[${room.artist}]]</a></li>
            </ul>
        </div>
    </div>
</body>
</html>