<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
</head>
<body>
    <h2>[[${accessId}]]님의 채팅</h2>
    <div class="container-rooms">
        <ul id="chatWrap">
        </ul>
    </div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    let rooms = [[${roomList}]];
    let str = '';

    const roomElement = document.getElementById('chatWrap');
    rooms.forEach(function(item){
        if(item.artist == [[${accessId}]]){
            str += "<li class='roomTitle'>";
            str += "<a href='/chat/room/"+ item.roomId+ "'>" + item.username + "___" + item.roomTitle;
            str += "</a>";
            str += "</li>";
            roomElement.innerHTML += str;
        }else{
            str += "<li class='roomTitle'>";
            str += "<a href='/chat/room/"+ item.roomId+ "'>" + item.artist;
            str += "</a>";
            str += "</li>";
            roomElement.innerHTML += str;
        }
    })

    /*]]>*/
</script>

</html>