<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
</head>
<body>
    <div class="container">
        <div>
            <ul th:each="room : ${roomList}">
                <li><a th:href="@{'/chat/room/'+${room.roomId}}">[[${room.name}]]</a></li>
            </ul>
        </div>
    </div>
</body>
</html>