<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="container_chat">
        <div class="chat-head">
            <a class="arrow-back" th:href="@{/chat/rooms}">
                <i class="fas fa-angle-left"></i>
            </a>
            <div>
                <div id="titleContainer">
                </div>
            </div>
        </div>
        <div class="chat-wrap">
            <div id="msgArea" class="col">
                <div class="col-6">
                    <div class="alert alert-secondary" th:each="history : ${chatHistory}">
                        <b id="history-writer" th:text="${history.getWriter}"></b>
                        <span id="history-message" th:text="${history.getMessage}"></span>
                    </div>
                </div>
            </div>
            <div class="col-6 chat-input-area">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="chat-input">
                    <div class="input-group-append">
                        <button class="btn btn-chat-msg" type="button" id="button-send">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    'use script';
    document.addEventListener("DOMContentLoaded", () => {
        const roomName = [[${room.artist}]];
        const roomId = [[${room.roomId}]];
        const username = [[${#authentication.principal.username}]];

        console.log(roomName + ", " + roomId + ", " + username);

        const websocket = new WebSocket("ws://localhost:8203/stomp/chat");
        const stomp = Stomp.over(websocket);

        const chatElement = document.getElementById('msgArea');
        //connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                const content = JSON.parse(chat.body);

                const writer = content.writer;
                const message = content.message;

                let str = '';
                if(writer === username){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    chatElement.innerHTML += str;
                }
                else{
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    chatElement.innerHTML += str;
                }
            });

            //send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
        });

        const sendBtn = document.querySelector('#button-send');
        sendBtn.addEventListener('click', () => {
            let msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        })
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const artist = [[${room.artist}]];
    const user = [[${room.username}]]
    const roomElement = document.getElementById('titleContainer');
    let str = '';
    if(artist == [[${accessId}]]){
        str += "<h1 class='roomTitle'>";
        str += user;
        str += "</h1>";
        roomElement.innerHTML += str;
    }else{
        str += "<h1 class='roomTitle'>";
        str += artist;
        str += "</h1>";
        roomElement.innerHTML += str;
    }
    /*]]>*/
</script>
</html>
