<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="username">닉네임</label>
      <input type="text" id="username" name="username" placeholder="닉네임을 입력하세요">
    </div>
    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="pwd" placeholder="비밀번호를 입력하세요">
    </div>
    <div class="form-group">
      <label for="password">비밀번호 확인</label>
      <input type="password" id="password" name="pwd_cf" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div>
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>