<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <div class="navbar_menu_wrap">
            <a class="navbar-brand" href="/">Hello Market</a>
            <div class="navbar-collapse">
                <ul class="navbar_menu">
                    <li class="navbar__menu_item active"><a href="/">헬로마켓 홈</a></li>
                    <li class="navbar__menu_item"><a href="/articles">의뢰</a></li>
                </ul>
                <ul sec:authorize="!isAuthenticated()" class="navbar_menu">
                    <li class="navbar__menu_item"><a href="/members/login">로그인</a></li>
                    <li class="navbar__menu_item"><a href="/members/new">가입하기</a></li>
                </ul>
                <ul sec:authorize="isAuthenticated()" class="navbar_menu">
                    <li class="navbar__menu_item"><a href="/chat">헬로채팅</a></li>
                    <li class="navbar__menu_item"><a href="#">마이페이지</a></li>
                </ul>
            </div>
        </div>
        <div class="card-wrap">
            <article class="card-top">
                <a class="card-link" data-event-label="1234" th:href="@{/articles/details/}">
                    <div class="card-photo">
                        <img th:src="@{/images/examples/draw1.jpg}">
                    </div>
                    <div class="card-desc" href="/articles/">
                        <h2 class="card-title">
                            만화체 그림 그려드려요
                        </h2>
                        <div class="card-price">
                            500원
                        </div>
                    </div>
                </a>
                <a class="card-link">
                    <div class="card-photo">
                        <img th:src="@{/images/examples/draw2.jpg}">
                    </div>
                    <div class="card-desc">
                        <h2 class="card-title">
                            연필 데셍화
                        </h2>
                        <div class="card-price">
                            500원
                        </div>
                    </div>
                </a>
                <a class="card-link">
                    <div class="card-photo">
                        <img th:src="@{/images/examples/draw3.jpg}">
                    </div>
                    <div class="card-desc">
                        <h2 class="card-title">
                            소품 그림 그려드려요!
                        </h2>
                        <div class="card-price">
                            500원
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="uploadMydraw">
            <input type="button" class="upload-btn">
                <i class="fa-solid fa-feather-pointed"></i>
        </div>
    </div>
</div>
</body>
</html>