<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inhye.hellomarket.mapper.ChatRoomMapper">

    <select id="findAllChatroom" resultType="ChatRoom">
        select * from chatroom where username = #{username} or artist = #{username}
    </select>

    <select id="findRoomById" resultType="ChatRoom">
        select * from chatroom where roomId = #{roomId}
    </select>

    <select id="findRoomByRoomInfo" resultType="ChatRoom">
        select * from chatroom where username = #{username} and artist = #{artist} and anum = #{anum}
    </select>

    <insert id="createChatRoom">
        insert into chatroom(username, artist, anum) values(#{username}, #{artist}, #{anum})
    </insert>

    <update id="updateFileName">
        update chatroom set filename= #{fileName} where username=#{username} and artist = #{artist} and anum = #{anum}
    </update>
</mapper>